<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        SQLinjection demo:
    </h1>
    <form action="/PostSQLinjection" method="POST">
        {{ .csrfField}}
        <p>Username: <input type="text" name="username" /></p>
        <p>Password: <input type="password" name="password" /></p>
        <p><input type="submit" value="新增學生" /></p>
    </form>
    <!-- <div class="parent" style="display: flex;justify-content: center; align-content: center;flex-wrap: wrap;">
        <div class="child"><h1>Hello</h1></div>
    </div> -->
    <div class="parent" style="position: relative;">
        <div class="child" style="position: absolute;top: -15px;left: 500px;margin: auto;">
            <h1>搜尋的學生</h1>
            <h5>
            <table>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr> 
            {{range .specStudents}}    
                    <tr>
                        <th>{{.Id}}</th>
                        <th>{{.Name}}</th>
                    </tr>     
            {{end}}
            </table>
        </h5>
        </div>
        <h1>全部學生</h1>
        <h5>
        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr> 
        {{range .students}}    
                <tr>
                    <th>{{.Id}}</th>
                    <th>{{.Name}}</th>
                </tr>     
        {{end}}
        </table>
        </h5>
    </h5>
</div>
</body>
</html>
<!-- SELECT * FROM students WHERE name='Shenny' -->

<!-- SELECT * FROM students WHERE name='Shenny' or 1=1 or name='' -->
<!-- Shenny' or 1=1 or name='  -->
<!-- Shenny' or 1=1 -- or name=' -->

<!-- INSERT INTO "students" ("name","password","student_number","token","created_time","updated_time") VALUES ('5566','','','','Now()','Now()'), ('admin', 'adminpwd', '','','Now()','Now()'), ('','','78','','2023-06-17 15:34:19.626','2023-06-17 15:34:19.626') RETURNING "id" -->
<!-- ',' ',' ','Now()','Now()'), ('admin','adminpwd',' ',' ','Now()','Now()'), (' ','  -->
